<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <!-- report -->
    <add key="TestType" value="NunitTests" />
    <!-- driveFactory -->
    <add key="Browser" value="Chrome" />
    <add key="ChromeHeadless" value="false" />
    <add key="RemoteChromeDriver" value="false" />
    <add key="RemoteIEDriver" value="false" />
    <add key="DefaultImplicityWait" value="60" />
    <add key="PageLoadTimeout" value="60" />

    <add key="BaseUrl" value="http://192.168.99.100:8989" />
    <add key="NUnitVersion" value="66666" />

    <!-- Datadriven -->
    <add key="TestDataSheetPath" value="C:\desafio base2\Desafio Luana\DesafioBase2\DesafioSelenium\DataDriven\TestData.xlsx" />
    
  </appSettings>
</configuration>