<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <!-- Parametros de Login -->
    <add key="usuarioMantis" value="luana.assis" />
    <add key="senhaMantis" value="123456" />
    <!-- report -->
    <add key="TestType" value="NunitTests" />
	  <add key="GET_SCREENSHOT_FOR_EACH_STEP" value="false" />
	  
    <!-- driveFactory -->
    <add key="browser" value="ie" />
    <!--chrome, ie, firefox, edge-->
    <add key="execution" value="local" />
    <!--local, remota-->
    <add key="headless" value="false" />
    <!--true, false-->
    <!--<add key="Browser" value="Firefox" />-->
    <add key="ChromeHeadless" value="false" />
    <add key="RemoteChromeDriver" value="false" />
    <add key="RemoteIEDriver" value="false" />
    <add key="DefaultImplicityWait" value="60" />
    <add key="PageLoadTimeout" value="60" />

    <!--<add key="BaseUrl" value="http://192.168.99.100:8989" /> -->
    <add key="BaseUrl" value="http://localhost/mantis" />
    <add key="NUnitVersion" value="66666" />

    <!-- Datadriven -->
    <add key="TestDataSheetPath" value="D:\luanapassis\Desafio\DesafioSelenium\DataDriven\TestData.xlsx" />
    <add key="TestDataSheetPath2" value="D:\luanapassis\Desafio\DesafioSelenium\DataDriven\TestData2.xlsx" />
    <add key="seleniumHub" value="xxx" />
    
    <!-- Data base connections -->
      <!-- <add key="DatabaseServer" value="192.168.99.100" /> -->
	  <add key="DatabaseServer" value="	  127.0.0.1" />
    <add key="DatabaseName" value="bugtracker" />
    <add key="DBUser" value="root" />
    <add key="DBPassword" value="mantisbt" />
    <add key="Port" value="3306" />
    <add key="SslMode" value="none" />
    
    
    <add key="DBConnectionTimeout" value="6000" />
	 
	<!-- Page base -->
	<add key="DEFAULT_TIMEOUT_IN_SECONDS" value="120" />
	  

    
  
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.12.0" newVersion="6.9.12.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>